.row{
  display: flex;
  justify-content: center;
}
footer{
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100%;
  position: fixed;
  text-align: center;
}
.jumbotron h1{
  font-size: 40px;
  font-weight: bold;
}
.col-md-8 .row{
  background-color: #E9ECEF;
  margin-bottom: 10px;
  border-radius: 5px;
.col-md-8 li a{
  color: black;
.col-md-8 li {
  list-style: none;
